*.d
*.xml
*.o
*.rst
# .vs
# Config
# .atmelstart
.atmel-start-backup
Debug
Release
*.elf
*.hex
*.bin
*.lss
*.map
*.srec
documentation
doxygen
# examples
modules
*.code-workspace
.vscode
.atsuo
